<div *ngIf="isLoading" class="ts-shop-loading">
  <div class="ts-shop-loading-indicator"></div>
  <div>Loading</div>
</div>
<div [ngClass]="{ 'ts-shop-hidden': isLoading }">
  <div class="ts-shop-filters">
    <input type="text" placeholder="Name" [(ngModel)]="filters.goodsname" (ngModelChange)="filterProducts()">
    <input type="text" placeholder="Price" [(ngModel)]="filters.price" (ngModelChange)="filterProducts()">
    <button type="button" class="ts-shop-btn-remove" [disabled]="isFiltersEmpty()" (click)="clearFilters()">&times;</button>
  </div>
  <table style width="100%">
    <tr>
      <th style width="80%">
          <table class="ts-shop-base-table ts-shop-products-table">
              <thead class="ts-shop-base-table-header">
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Weight</th>
                  <th>In stock</th>
                  <th>Category</th>
                  <th>Volume</th>
                  <th>Order</th>
                </tr>
              </thead>
              <tbody>
                  <td></td>
                <tr *ngFor="let product of (products | tsShopFilter : filters)" [ngStyle]="setAvailabilityColour(product)">
                  <td>{{product.goodsname}}</td>
                  <td>{{product.price | currency : '€'}}</td>
                  <td>{{product.weight}}</td>
                  <td>{{product.instock}}</td>
                  <td>{{product.goodsparameters}}</td>
                  <td>{{product.volume}}</td>
                  <td>
                    <button class="ts-shop-btn-remove" (click)="setProductToOrder(product)">+</button>
                  </td>
                </tr>  
              </tbody>
            </table>
      </th>
      <th valign="top">
        <div width="100%">Bucket</div>
        <table class="ts-shop-base-table ts-shop-products-table">
          <thead class="ts-shop-base-table-header">
            <tr>
              <th>Product</th>
              <th>Count</th>
              <th>Total price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of getOrderedProducts">
              <td>{{product.goodsname}}</td>
              <td>{{product.count }}</td>
              <td>{{product.count*product.price | currency : '€'}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="bucketMessage">Placed orders on the tab "Orders", add products for a new order.</div>
        <button *ngIf="!bucketMessage" (click)="placeOrder()">Place Order</button>
        <button *ngIf="!bucketMessage" (click)="clearOrder()">Clear Order</button>
      </th>
    </tr>
  </table>
</div>
<input *ngIf="isAccess&&!isProductsLoaded" type="file" id="file1">
<button *ngIf="isAccess&&!isProductsLoaded" (click)="load()">Load</button>
<button *ngIf="isAccess&&isProductsLoaded" (click)="send()">Write data</button>